<div id="work"></div><!-- anchor -->
<div id="work-container">
  <div class="border-dec border-work">
    <h3 class="overlap">General Assembly</h3>
    <div class="thumbs-container">

      <%= render partial: "thumb", locals: { id: "final", name: "'subvixen' visual code generator", image: "final_thumb.jpg" } %>

      <%= render partial: "thumb", locals: { id: "triage", name: "'triage' knowledge base", image: "servers_thumb.jpg" } %>

      <%= render partial: "thumb", locals: { id: "gehms", name: "'gehms'<br>retro games", image: "gehms_thumb_lowcon_bnw.jpg" } %>

      <%= render partial: "thumb", locals: { id: "ba", name: "burning airlines", image: "ba_thumb_bnw2.jpg" } %>

      <%= render partial: "thumb", locals: { id: "ttt", name: "tic tac toe", image: "ttt_thumb_blowup.jpg" } %>

    </div>
  </div>


  <div class="border-dec border-work">
    <h3 class="overlap">Programming before web dev</h3>
    <div class="thumbs-container">

      <%= render partial: "thumb", locals: { id: "prg", name: "interactive lighting demos", image: "prg_thumb_beams.jpg" } %>

      <%= render partial: "thumb", locals: { id: "dd", name: "vivid sydney", image: "dichroic_thumb_cu1.jpg" } %>

      <%= render partial: "thumb", locals: { id: "cube", name: "rubik's cube", image: "cube_thumb.jpg" } %>

    </div>
  </div>
</div>


<!-- WORK DETAIL MODALS -->
<div id="anim">
</div>

<div id="modal-bg">
</div>

<!-- FINAL -->
<div id="modal-final" class="modal-content">
    <span class="close" id="close-final">&times;</span>
    <%= render partial: "modal-final" %>
    <span class="close close-lower" id="close-final-lower">&times;</span>
</div>

<!--- TRIAGE -->
<div id="modal-triage" class="modal-content">
    <span class="close" id="close-triage">&times;</span>
    <%= render partial: "modal-triage" %>
    <span class="close close-lower" id="close-final-lower">&times;</span>
</div>

<!--- GEHMS -->
<div id="modal-gehms" class="modal-content">
    <span class="close" id="close-gehms">&times;</span>
    <%= render partial: "modal-gehms" %>
    <span class="close close-lower" id="close-final-lower">&times;</span>
</div>

<!--- BURNING AIRLINES -->
<div id="modal-ba" class="modal-content">
    <span class="close" id="close-ba">&times;</span>
    <%= render partial: "modal-ba" %>
    <span class="close close-lower" id="close-final-lower">&times;</span>
</div>

<!--- TIC TAC TOE -->
<div id="modal-ttt" class="modal-content">
    <span class="close" id="close-ttt">&times;</span>
    <%= render partial: "modal-ttt" %>
    <span class="close close-lower" id="close-final-lower">&times;</span>
</div>


<!-- *** Start pre-code work...! -->
<!--- PRG -->
<div id="modal-prg" class="modal-content">
    <span class="close" id="close-prg">&times;</span>
    <%= render partial: "modal-prg" %>
    <span class="close close-lower" id="close-final-lower">&times;</span>
</div>

<!--- DICHROIC -->
<div id="modal-dd" class="modal-content">
    <span class="close" id="close-dd">&times;</span>
    <%= render partial: "modal-dd" %>
    <span class="close close-lower" id="close-final-lower">&times;</span>
</div>

<!--- CUBE -->
<div id="modal-cube" class="modal-content">
    <span class="close" id="close-cube">&times;</span>
    <%= render partial: "modal-cube" %>
    <span class="close close-lower" id="close-final-lower">&times;</span>
</div>
