


<!--       -->
<!-- ABOUT -->
<!--       -->


<div id="about-container">
  <div class="border-dec border-about">
  <h3 class="overlap">About</h3>
    <a class="home-nav lower-nav" href="/">
      <p>home</p>
      <p class="nav-arrow">&caron;</p>
    </a>
  </div>
</div>







<!--      -->
<!-- HOME -->
<!--      -->


<div id="home-container">
  <a class="home-nav" href="/about">
    <p class="nav-arrow nav-arrow-up">&circ;</p>
    <p>about</p>
  </a>
  <h1>MADELEINE MILASAS</h1>
  <h2>Full Stack Web Developer</h2>

  <div id="graph"></div>

  <!-- <p>average of everything: <%= @avg_all %></p>

  <% @avg_prev.each do |a| %>
    <p><%= a %></p>
  <% end %> -->

  <a class="home-nav lower-nav" href="/work">
    <p>work</p>
    <p class="nav-arrow">&caron;</p>
  </a>
</div>











<!--      -->
<!-- WORK -->
<!--      -->

<div id="work-container">
  <div class="border-dec border-work">
    <h3 class="overlap">General Assembly</h3>
    <div class="thumbs-container">

      <div class="thumb" id="thumb-final">
        <%= image_tag "final_thumb.jpg", :class => "thumb-small", :id => "img-final" %>
        <p class="thumb-label" id="label-final">final project</p>
      </div>

      <div class="thumb" id="thumb-triage">
        <%= image_tag "servers_thumb.jpg", :class => "thumb-small", :id => "img-triage" %>
        <p class="thumb-label" id="label-triage">triage</p>
      </div>

      <div class="thumb" id="thumb-gehms">
        <%= image_tag "gehms_thumb_lowcon.jpg", :class => "thumb-small", :id => "img-gehms"  %>
        <p class="thumb-label" id="label-gehms">gehms</p>
      </div>

      <div class="thumb" id="thumb-ba">
        <%= image_tag "ba_thumb_bnw2.jpg", :class => "thumb-small", :id => "img-ba"  %>
        <p class="thumb-label" id="label-ba">burning airlines</p>
      </div>

      <div class="thumb" id="thumb-ttt">
        <%= image_tag "ttt_thumb_blowup.jpg", :class => "thumb-small", :id => "img-ttt"  %>
        <p class="thumb-label" id="label-ttt">tic tac toe</p>
      </div>

      <div class="thumb" id="thumb-hw">
        <%= image_tag "mars-01.jpg", :class => "thumb-small", :id => "img-hw"  %>
        <p class="thumb-label" id="label-hw">homework</p>
      </div>

    </div>



  </div>
  <div class="border-dec border-work">
    <h3 class="overlap">Freelance Interaction Design</h3>
    <div class="thumbs-container">
      <div class="thumb" id="thumb-prg">
        <%= image_tag "final_thumb.jpg", :class => "thumb-small", :id => "img-prg" %>
        <p class="thumb-label" id="label-prg">prg light interaction demos</p>
      </div>

      <div class="thumb" id="thumb-dichroic">
        <%= image_tag "servers_thumb.jpg", :class => "thumb-small", :id => "img-dichroic" %>
        <p class="thumb-label" id="label-dichroic">dichroic dimensions</p>
      </div>

      <div class="thumb" id="thumb-o">
        <%= image_tag "gehms_thumb_lowcon.jpg", :class => "thumb-small", :id => "img-o"  %>
        <p class="thumb-label" id="label-o">origin of o</p>
      </div>
    </div>
  </div>
</div>


<!-- WORK DETAIL MODAL -->
<!--- TRIAGE -->
<div id="modal-triage" class="modal">
  <div class="modal-content">
    <span class="close" id="close-triage">&times;</span><!-- close button -->
    <div class="content">
       <h1>Triage</h1>
       <p>A Ruby on Rails knowledge base app</p>
       <p>Created for General Assembly's Web Development Immersive Week 6 assignment</p>
       <p>I enjoyed figuring out: search functionality, favouriting methods</p>
       <p>Deployed on Heroku: <a href="https://triage.herokuapp.com" target="_blank">triage.herokuapp.com</a></p>
       <p>Github: <a href="https://github.com/madeleinemila/triage-app" target="_blank">github.com/madeleinemila/triage-app</a></p>
    </div>
    <%= image_tag "off_and_on.png", :class => "featured", :alt=> "Screenshot" %>
    </div>
  </div>
</div>


<!-- GEHMS -->
<div id="modal-gehms" class="modal">
  <div class="modal-content">
    <span class="close" id="close-gehms">&times;</span><!-- close button -->
    <div class="content">
       <h1>Gehms</h1>
       <p>A JavaScript + Ruby on Rails Retro Games Platform</p>
       <p>Featuring Arduino hardware controllers & Node.js</p>
       <p>Created for General Assembly's Web Development Immersive Week 9 group assignment</p>
       <p>My role: </p>
       <p>I enjoyed figuring out: </p>
       <p>Deployed on Heroku: <a href="https://gehms.herokuapp.com" target="_blank">gehms.herokuapp.com</a></p>
       <p>Github: <a href="https://github.com/madeleinemila/retro-gaming" target="_blank">github.com/madeleinemila/retro-gaming</a></p>
    </div>
    <%= image_tag "off_and_on.png", :class => "featured", :alt=> "Screenshot" %>
    </div>
  </div>
</div>


<!-- BURNING AIRLINES -->
<div id="modal-ba" class="modal">
  <div class="modal-content">
    <span class="close" id="close-ba">&times;</span><!-- close button -->
    <div class="content">
       <h1>Burning Airlines</h1>
       <p>General Assembly's 2 Day Challenge</p>
       <p>Built by 2 people using React & Ruby on Rails</p>
       <p>My role: </p>
       <p>I enjoyed figuring out: </p>
       <p>Customer interface deployed on Github Pages: <a href="https://madeleinemila.github.io/burning-airlines">madeleinemila.github.io/burning-airlines</p>
       <p>Admin interface deployed on Heroku: <a href="https://burningairlinesdb.herokuapp.com" target="_blank">burningairlinesdb.herokuapp.com</a></p>
       <p>Github frontend: <a href="https://github.com/madeleinemila/burning-airlines" target="_blank">github.com/madeleinemila/burning-airlines</a></p>
        <p>Github backend: <a href="https://github.com/madeleinemila/burning-airlines" target="_blank">github.com/madeleinemila/burning-airlines</a></p>
    </div>
    <%= image_tag "off_and_on.png", :class => "featured", :alt=> "Screenshot" %>
    </div>
  </div>
</div>
